/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #f0efef;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */


body {

  min-height: 100vh;

}

.toDo {

  max-width: 600px;
  margin: 120px auto 0px auto;

}

.toDo div.inner {

  background-color: #ffe14b;

}

#list {

  list-style: none;
  text-indent: 0;
  margin: 0;
  padding: 10px 10px;

}

#list li {

  border-bottom: 1px solid #ffeb8a;
  padding: 0px 0px;
  margin: 0px 0px;
  line-height: 2.0em;
  position: relative;

}

#list li input[type=checkbox]{

  position: relative;
  top: -6px;
  margin-right: 16px;

}

#list li a {

  color: red;
  margin: 0px 20px;
  font-size: 0.4em;
  display: inline;
  border: 1px solid red;
  padding: 3px 10px;
  text-transform: uppercase;
  position: relative;
  top: -4px;

}

#list li.done {

  text-decoration: line-through;

}

#list li a:hover {

  background-color: red;
  color: white;

}

#composer {

  text-align: center;

}

#composer input[type=text] {

  padding: 10px 10px;
  outline: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 78%;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed #fff;

}

#composer button[type=submit] {

  background-color: transparent;
  border: none;
  outline: none;
  width: 18%;
  padding: 18px 0px;

}
a.showlightbox {
    color: white;
    font-size: 12px;
    width: 100px;
    padding: 1% 2%;
    background-color: #636363;
}